# Porta do servidor backend
PORT=3000

# Ambiente (development ou production)
NODE_ENV=development

# URI de conexão com o MongoDB (Local ou Atlas)
# Exemplo Local: mongodb://127.0.0.1:27017/material_construcao
# Exemplo Atlas: mongodb+srv://usuario:senha@cluster.mongodb.net/material_construcao
MONGODB_URI=sua_string_de_conexao_aqui

# Chave secreta para assinar os tokens JWT (use uma string longa e aleatória em produção)
JWT_SECRET=super_chave_secreta_muito_segura_e_longa_123456

# URL do frontend (para configuração do CORS)
FRONTEND_URL=http://localhost:5173